extends layout

block content
  h1.top-header Root

  .factory
    p Test Node
  ul
    li
      p 49
    li
      p 238
    li
      p 831
    li
      p 22
  .factory
    p Another One
  ul
    li
      p 749
    li
      p 37
    li
      p 123
    li
      p 987